.loading {
  position: absolute;
  top: 35%;
  left: 40%;
}
.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.05s;
}
.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: .10s;
}
.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: .15s;
}
.loading-bar:nth-child(5) {
  background-color: blue;
  animation-delay: .20s;
}
.loading-bar:nth-child(6) {
  background-color: black;
  animation-delay: .25s;
}
.loading-bar:nth-child(7) {
  background-color: red;
  animation-delay: .30s;
}


@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}





.Notloading {
  position: absolute;
  top: 30%;
  left: 14%;
}

.Notloading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation2: loading 1s ease-in-out infinite;
}
.Notloading-bar:nth-child(1) {
  background-color: #3498db;
  animation2-delay: 0;
}
.Notloading-bar:nth-child(2) {
  background-color: #c0392b;
  animation2-delay: 0.05s;
}
.Notloading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation2-delay: .10s;
}
.Notloading-bar:nth-child(4) {
  background-color: #27ae60;
  animation2-delay: .15s;
}
.Notloading-bar:nth-child(5) {
  background-color: blue;
  animation2-delay: .20s;
}
.Notloading-bar:nth-child(6) {
  background-color: black;
  animation2-delay: .25s;
}
.Notloading-bar:nth-child(7) {
  background-color: red;
  animation2-delay: .30s;
}
